.sign-in-and-sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 10px;
}

.sign-in-and-sign-up {
  width: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto;
}
